.our-friends {
  margin-top: 121px;
  padding-top: 80px;
  padding-bottom: 100px;
  background: #F6F6F6;
}
.our-friends__title {
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 2.1px;
  color: #545454;
  margin-bottom: 28px;
}
.our-friends__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.pets__item {
  display: inline-block;
  text-align: center;
  width: 270px;
  height: 435px;
  background-color: #fafafa;
  border-radius: 9px;
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.pets__item:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.pets__item:hover .btn-link {
  background-color: #f1cdb3;
}
.pets__img {
  display: block;
  margin-bottom: 29px;
  border-radius: 9px 9px 0 0;
}
.pets__name {
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 45px;
  display: block;
}
.btn-link {
  position: relative;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.8px;
  padding: 15px 45px;
  color: #292929;
  background-color: #fafafa;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  transition: background-color 0.3s ease;
}
.btn-link:hover {
  background-color: #f1cdb3;
  transition: background-color 0.3s ease;
}
.pagination {
  display: flex;
  justify-content: center;
}
.pagination__prev, .pagination__next {
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #292929;
  border: 2px solid #CDCDCD;
  box-sizing: border-box;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}
.pagination__item {
  margin: 0 10px;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #292929;
  border: 2px solid #F1CDB3;
  background: #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination__active {
  border: 2px solid #F1CDB3;
  cursor: pointer;
}
.pagination__active:hover {
  background: #F1CDB3;
}
@media (max-width: 1279px) {
  .our-friend {
    margin-top: 0;
    padding-bottom: 75px;
  }
  .our-friend__container {
    padding: 0 53px;
  }
  .our-friend__title {
    margin-bottom: 0;
  }
  .our-friend__lists {
    margin-bottom: 39px;
    justify-content: space-evenly;
  }
}
@media (max-width: 767px) {
  .our-friend {
    padding-top: 41px;
    padding-bottom: 44px;
  }
  .our-friend__title {
    font-size: 25px;
    letter-spacing: 1.5px;
    margin-bottom: 13px;
  }
  .our-friends__list {
    padding: 0;
    justify-content: space-around;
  }
  .pagination {
    width: 100%;
    justify-content: space-between;
  }
  .pagination__prev, .pagination__next, .pagination__item {
    margin: 0;
  }
}
