.our-friends {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #F6F6F6;
}
.our-friends__title {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  margin-bottom: 60px;
}
.our-friends__carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 58px;
}
.our-friends__arrow {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #F6F6F6;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
}
.our-friends__arrow--active {
  border: 2px solid #f1cdb3;
  cursor: pointer;
}
.our-friends__arrow--active:hover {
  background-color:  #f1cdb3;
}
.our-friends__arrow--prev {
  background-image: url(../../../assets/images/icon/prev.svg);
}
.our-friends__container {
  width: 990px;
  margin: 0 auto;
  overflow: hidden;
}
.our-friends__list {
  width: 9999px;
  margin: 0;
  padding: 0;
  transition: margin-left 3s;
  display: flex;
}
.our-friends__item {
  display: inline-block;
  text-align: center;
  width: 270px;
  height: 435px;
  background-color: #fafafa;
  margin-right: 90px;
  border-radius: 9px;
  transition: margin-left 2s;
}
.our-friends__item:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.our-friends__item:hover .btn-link {
  background-color: #f1cdb3;
  transition: background-color 0.3s ease-in-out;
}
.our-friends__img {
  display: block;
  margin-bottom: 29px;
  border-radius: 9px 9px 0 0;
}
.our-friends__name {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 45px;
  display: block;
}
.our-friends__arrow--next {
  background-image: url(../../../assets/images/icon/next.svg);
}
.our-friends__btn {
  margin: 0 auto;
  display: block;
  width: 263px;
}

@media (max-width: 1279px) {
  .our-friends__container {
    max-width: 576px;
  }
  .our-friends__item {
    margin-right: 35px;
  }
  .our-friends__carousel {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 58px;
  }
}
@media (max-width: 767px) {
  .our-friends {
    padding-top: 42px;
    padding-bottom: 42px;
  }
  .our-friends__container {
    order: 0;
  }
  .our-friends__arrow {
    order: 1;
    margin: 21px calc(13%) 0;
  }
  .our-friends__carousel {
    margin-bottom: 40px;
  }
  .our-friends__title {
    font-size: 25px;
    letter-spacing: 1.5px;
    text-align: center;
    margin-bottom: 42px;
  }
  .our-friends__container {
    order: 0;
    width: 270px;
  }
}
