/* html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: 'SFProDisplay', sans-serif;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
} */

.page {
  box-sizing: border-box;
  font-family: "Georgia", sans-serif;
  font-style: normal;
  font-weight: 400;
  scroll-behavior: smooth;
}
.container {
  box-sizing: border-box;
  position: relative;
  max-width: 1200px;
  padding: 40px;
  width: 100%;
  margin: 0 auto;

}
img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}
a {
  text-decoration: none;
}
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
.btn-reset {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.main__title {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}
.btn {
  background: #F1CDB3;
  border-radius: 100px;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  padding: 16px 45px;
  border: 0;
  cursor: pointer;
}
.btn:hover {
  background: #FDDCC4;
}
.btn-link {
  letter-spacing: 0.8px;
    font-size: 17px;
   line-height: 130%;
   padding: 15px 45px;
   color: #292929;
   background-color: #fafafa;
   border: 2px solid #F1CDB3;
   border-radius: 100px;
   position: relative;
   transition: background-color 0.3s ease-in-out;
 }
 .btn-link:hover {
   background-color: #f1cdb3;
   transition: background-color 0.3s ease-in-out;
 }
