/* No CSS */
/* @import "_normalize.css"; */
@import "_fonts.css";
/* @import "_variables.css"; */
/* @import "_vendor.css"; */
@import "_global.css";
/* @import "_overall.css"; */

/* components imports */
@import "./components/_header.css";
@import "./components/_not-only.css";
@import "./components/_burger.css";
@import "./components/_about.css";
@import "./components/_our-friends.css";
@import "./components/_help.css";
@import "./components/_in-addition.css";
@import "./components/_footer.css";
